#button-color {
    background-color: #FFEDE1;
    font-family: 'M PLUS 1p', sans-serif;
}

#jumbo-bckgrnd {
    background-color: #AFCBFF;
    font-family: 'M PLUS 1p', sans-serif;
}

#whole-bckgrnd {
    background-color: #0E1C36;
}

#gfont {
    font-family: 'B612 Mono', monospace;
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'Khand', sans-serif;
    font-size: 9em;
}

.jumbotron {
    padding: 0rem 0rem;
    padding-bottom: 1rem;
}

#pfont {
    font-size: 98%;
}

#card-bckgrnd {
    background-image: url("https://st2.depositphotos.com/1837303/8784/i/950/depositphotos_87841040-stock-photo-marble-background-wall.jpg");
    /* opacity: .9; */
}

#div-font {
    font-family: 'M PLUS 1p', sans-serif;  

}

.btn-secondary {
    margin: 5px;
}